@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --black: #000000;
    --white: #ffffff;
    --dark-brown: #4d331f;
    --dark-brown-hover: #75491d;
    --cream: #f3eee4;
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--black);
}
.overlayBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #110900;
    opacity: 0.75;
    z-index: -10;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 50%; 
    margin-right: auto;
}
.carousel-container {
    position: relative;
    font-size: large;
    width: 80%;
    max-width: 300px;
    padding: 10px;
    background-color: var(--white);
    opacity: 60%;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-item {
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    display: none;
    font-size: 1.5em;
    padding: 10px 0;
}
.carousel-item.active {
    display: block;
    color: var(--dark-brown);
}
.carousel-item:hover {
    transform: scale(1.1);
    color: var(--dark-brown);
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: var(--dark-brown);
    transition: opacity 0.3s;
    z-index: 1;
}
.prev {
    left: 30px;
}
.next {
    right: 30px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background-color: var(--cream);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: justify;
    max-width: 900px;
    animation: fadeIn 0.5s ease-in-out;
    height: 70%; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}


.popup button {
    background-color: var(--dark-brown);
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.popup button:hover {
    background-color: var(--dark-brown-hover);
}

hr {
    border: 3px solid var(--dark-brown);
    margin-bottom: 30px;
    margin-top: -10px;
}
.wrapper h1 {
    font-size: 3em;
    margin: 0.3em ;
    text-align: center;
    color: white;
}

h1:not(.wrapper h1) {
    text-align: left;
    margin-top: 10px;
    font-size: 40px;
    color: var(--dark-brown);
}
h2, h3, h4, h5 {
    color: black;
}
strong {
    font-size: 24px;
    color: black;
}
li, a {
    color: black;
    text-align: justify;
}
p {
    color: black;
    text-align: justify;
    margin-bottom: 20px;
}
.artwork p {
    margin: 0;
}
.source-link {
    display: block;
    text-align: center;
}
.artwork {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.artwork img {
    width: auto;
    height: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

.artwork:nth-child(even) {
    flex-direction: row-reverse;
}
.artwork:nth-child(even) img {
    margin-left: 20px;
    margin-right: 0;
}
.artwork div {
    max-width: 70%;
}
.artwork:nth-child(even) div,
.artwork:nth-child(even) p {
    text-align: right;
}
.artwork:nth-child(odd) div,
.artwork:nth-child(odd) p {
    text-align: left;
}
figcaption{
    color: black;
    font-style: italic;
    text-align: center;
    font-size: 12px;
}
@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .carousel-container {
    width: 90%;
    }
}
    .fullscreen-bg {
        width: 100%;
        height: 100vh;
        background-image: url('rizalbg.jpg');
        background-repeat: no-repeat; /* Add this line */
        background-size: cover;
        background-color: black;
        opacity: 90%;
        background-position: center;
        justify-content: center;
        align-items: center;
        color: var(--cream);
    }
  

    .black-section {
      height: 100vh;
      background-color: rgb(49, 21, 2);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      color: white;
      overflow-y: auto;
    }

    .black-section p {
      max-width: 80%;
      font-size: 1.2em;
      text-align: center;
      color: var(--cream);
      z-index: 1;
    }

    .black-section h2 {
        max-width: 80%;
        font-size: 3em;
        margin-bottom: 4;
        text-align: center;
        color: var(--cream);
        z-index: 1;
      }

      .rectangle {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 70px;
        background-color: var(--cream);
        opacity: 30%;
        z-index: 1;
        width: 40%;
        padding: 20px; /* Added padding */
    }

    .rectangle p {
        margin: 0; /* Remove default margin */
        color: var(--black);
        z-index: 1;
        text-align: center;
        justify-content: center;
    }